@use '../abstract/index' as *;
@use './fonts' as font;
@use '../components/index' as *;
@use '../layout/index' as *;
@use '../utilities/index' as *;

html {
	font-size: 10px;
	font-family: font.$Nunito;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	// background: $Light-Mode-Bg;
	background: red;
	// background-image: url('../../img/chuttersnap-5pZk5ytTGBo-unsplash.jpg');
}

body#index {
	font-size: 1.4rem;
}

body#country {
	font-size: 1.6rem;
}
