$Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Mode-Bg: hsl(207, 26%, 17%);
$Light-Mode-Text: hsl(200, 15%, 8%);
$Light-Mode-Input: hsl(0, 0%, 52%);
$Light-Mode-Bg: hsl(0, 0%, 98%);
$Light-Mode-Shadow: hsla(0, 0%, 0%, 0.07);
$white: hsl(0, 0%, 98%);
