@use '../../abstract/index' as *;

.header {
	// background: $elems-bg-color;
	background: var(--elems-bg-color);
	padding: 1.5em 0;

	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

	margin-bottom: 3em;

	// .header__content

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__logo

	&__logo {
		text-decoration: none;

		h1 {
			@include adaptive-value-min-max(font-size, 20, 30);
			font-weight: 800;
			line-height: 1;
			// color: $Light-Mode-Text;
			color: var(--text-color);
		}
	}

	// .header__mode

	&__mode {
		// color: $Light-Mode-Text;
		color: var(--text-color);
		font-size: 1.4rem;

		display: inline-flex;
		align-items: center;

		margin-left: 1.5em;
		padding: 0.5em;

		cursor: pointer;
		border: none;
		background: transparent;
	}

	// .header__mode-icon

	&__mode-icon {
		font-size: 1.6rem;
		margin-right: 0.3em;
	}

	// .header__mode-text

	&__mode-text {
		font-size: 1.4rem;
		font-weight: 600;
	}
}
.container {
}
